@using Lottery.DoMain.Enum;
@using Lottery.DoMain.Constant;
@using Lottery.DoMain.Models;
@using Newtonsoft.Json;
@using Lottery.DoMain.Extentions;
@using Lottery.Service.ServiceProvider;
@using Lottery.Service.ServiceProvider.Interface;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    FormsIdentity id = (FormsIdentity)HttpContext.Current.User.Identity;
    FormsAuthenticationTicket ticket = id.Ticket;
    var userData = JsonConvert.DeserializeObject<User>(ticket.UserData);

    IProvider provider = new Provider();

    List<Phonebook> phonebooks = new List<Phonebook>();
    var dataBase = provider.GetAsync<List<Phonebook>>(string.Format(ApiUri.Get_Phonebook + "/{0}", userData.Id));
    if (dataBase != null && dataBase.Result != null && dataBase.Result.Data != null)
    {
        phonebooks = dataBase.Result.Data;
    }
}

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Typescript UI Controls">
<meta name="author" content="Syncfusion">
<link href="~/assets/css/listPlayer.css" rel="stylesheet" />
<html>
<head>
    <style>
        .container {
            display: flex;
            flex-flow: column;
            margin-top: 12px;
            max-width: 900px;
            height: 85vh;
        }

        .heading {
            margin: 20px 0px 15px;
            /*color: #e3165b;*/
        }

        .box-add-new-player {
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            font-size: 15px;
            min-height: 60px;
            border: 1px dashed rgb(216, 216, 216);
            margin: 0px 0px 10px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
        }

            .box-add-new-player i {
                color: #e3165b;
                font-size: 25px;
                margin: 0px 20px;
            }

            .box-add-new-player span {
                color: #e3165b;
            }

        .div-list-player {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
        }

            .div-list-player .row-player {
                margin-bottom: 10px;
            }

                .div-list-player .row-player .head-row-player {
                    display: flex;
                    border-bottom: 1px solid #eee;
                    justify-content: space-between !important;
                }

                    .div-list-player .row-player .head-row-player i {
                        flex: 1;
                        margin-top: 2px;
                        margin-right: 8px;
                        cursor: pointer;
                        margin-left: 5px;
                        font-size: 16px;
                        color: #d85261;
                    }

                .div-list-player .row-player .div-info {
                    display: flex;
                    flex-flow: row;
                    gap: 30px;
                    margin-top: 8px;
                }

                    .div-list-player .row-player .div-info div {
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        text-align: center;
                    }

        .margin-bottom-row {
            margin-top: 5px;
            border-bottom: 1px solid #e3165b;
        }
    </style>
</head>
<body>
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="heading">
            <h3>Danh bạ người chơi</h3>
        </div>
        <div class="box-add-new-player">
            <i class="fa fa-plus"></i>
            <span>Thêm người chơi</span>
        </div>
        <div style="overflow: auto;">
            <div class="div-list-player">
                @if (phonebooks != null && phonebooks.Count > 0)
                {
                    foreach (var item in phonebooks)
                    {
                        <div class="row-player">
                            <div>
                                <div class="head-row-player">
                                    <h4 class="page-header margin-top-none">@item.Name</h4>
                                    <div>
                                        <i onclick="deletePlayer(this)" id="@item.Id" class="fa fa-trash" aria-hidden="true"></i>
                                        <i onclick="UpdatePlayer(this)" class="fa fa-pencil-square-o" id="@item.Id" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="margin-bottom-sm"></div>
                                <div class="div-info">
                                    <div>
                                        <span>Tiền xác</span>
                                        <strong id="lbl_xac">@item.TileXac</strong>
                                    </div>
                                    <div>
                                        <span>Tiền thưởng</span>
                                        <strong id="lbl_thuong">@item.TileThuong</strong>
                                    </div>
                                    <div id="div_lbl_result" class="div-lbl-result">
                                        <span>Ba số</span>
                                        <strong id="lbl_result">@item.TileBaSo</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-bottom-row"></div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
    <script>
        $('.box-add-new-player').click(function (e) {
            window.location = "/Phonebook/CreatePlayer";
        });
        function UpdatePlayer(dom) {
            window.location = "/Phonebook/UpdatePlayer?playerId=" + dom.id;
        }
        function deletePlayer(dom) {
            var prompt = new PromptBoxes();
            prompt.confirm((isConfirm) => executeConfirm(isConfirm, dom.id), 'Bạn muốn xóa địa chỉ này?', 'Đồng ý', 'Hủy bỏ');
        }
        function executeConfirm(isConfirm, playerId)
        {
            if (isConfirm)
            {
                ShowOverlay(true);
                $.ajax({
                    type: "POST",
                    traditional: true,
                    data:
                    {
                        "playerId": playerId,
                    },
                    url: "@Url.Action("ExecuteDeletePlayer", "Phonebook")",
                    success: function (data)
                    {
                        hideOverlay();
                        if (data.Success && data.Data) {
                            awesomeAlert({
                                header: true,
                                type: 'success',
                                title: 'Thành công!',
                                message: 'Xóa người chơi thành công.',
                                //bgColor: '#2dd284',
                                img: '/assets/images/icon/success.svg',
                                buttonOK: 'Xong!',
                                closeStyle: 'circle'
                            }).then(res => window.location = "/Phonebook/ListPlayer")
                        }
                        else {
                            var message = "Đã có lỗi xảy ra."
                            if (!isNullOrEmpty(data.Message)) {
                                message = data.Message;
                            }
                            awesomeAlert({
                                header: true,
                                type: 'error',
                                title: 'Có lỗi!',
                                message: message,
                                //bgColor: '#2dd284',
                                img: '/assets/images/icon/error.svg',
                                buttonOK: 'Oke!',
                                closeStyle: 'circle'
                            }).then(res => false)
                        }
                    },
                })
            }
        }
    </script>
</body>
</html>



