@using Lottery.DoMain.Enum;
@using Lottery.DoMain.Constant;
@using Lottery.DoMain.Models;
@using Newtonsoft.Json;
@using Lottery.DoMain.Extentions;
@using Lottery.Service.ServiceProvider;
@using Lottery.Service.ServiceProvider.Interface;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    FormsIdentity id = (FormsIdentity)HttpContext.Current.User.Identity;
    FormsAuthenticationTicket ticket = id.Ticket;
    var userData = JsonConvert.DeserializeObject<User>(ticket.UserData);

    IProvider provider = new Provider();

    List<Phonebook> phonebooks = new List<Phonebook>();
    var dataBase = provider.GetAsync<List<Phonebook>>(string.Format(ApiUri.Get_Phonebook + "/{0}", userData.Id));
    if (dataBase != null && dataBase.Result != null && dataBase.Result.Data != null)
    {
        phonebooks = dataBase.Result.Data;
    }
}

<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Typescript UI Controls">
<meta name="author" content="Syncfusion">
<link href="~/assets/css/listPlayer.css" rel="stylesheet" />
<html>
<head>
    <style>
        .container {
            display: flex;
            flex-flow: column;
            margin-top: 12px;
            max-width: 900px;
            height: 85vh;
        }

        .heading {
            margin: 20px 0px 15px;
            /*color: #e3165b;*/
        }

        .box-add-new-player {
            cursor: pointer;
            background-color: rgb(255, 255, 255);
            font-size: 15px;
            min-height: 60px;
            border: 1px dashed rgb(216, 216, 216);
            margin: 0px 0px 10px;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
        }

            .box-add-new-player i {
                /*color: #e3165b;*/
                color: blue;
                font-size: 25px;
                margin: 0px 20px;
            }

            .box-add-new-player span {
                /*color: #e3165b;*/
                color: blue;
            }

        .div-list-player {
            background-color: white;
            border-radius: 10px;
            padding: 20px;
        }

            .div-list-player .row-player {
                margin-bottom: 10px;
            }

                .div-list-player .row-player .head-row-player {
                    display: flex;
                    border-bottom: 1px solid #eee;
                    justify-content: space-between !important;
                }

                    .div-list-player .row-player .head-row-player i {
                        flex: 1;
                        margin-top: 2px;
                        margin-right: 8px;
                        cursor: pointer;
                        margin-left: 5px;
                        font-size: 16px;
                        color: #d85261;
                    }

                .div-list-player .row-player .div-info {
                    display: flex;
                    flex-flow: row;
                    gap: 30px;
                    margin-top: 8px;
                }

                    .div-list-player .row-player .div-info div {
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        text-align: center;
                    }

        .margin-bottom-row {
            margin-top: 5px;
            border-bottom: 1px solid #e3165b;
        }


        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 10000; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            flex-flow: row;
            justify-content: center;
        }

            .modal .modal-dialog {
                width: 100%;
            }

                .modal .modal-dialog .modal-content {
                    padding-top: 10px;
                    width: 100%;
                    height: auto;
                }

        .wrapper {
            width: 100%;
            background: #fff;
            border-radius: 5px;
            box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
        }

            .wrapper .title {
                height: 90px;
                background: #e3165b;
                /*background: #16a085;*/
                border-radius: 5px 5px 0 0;
                color: #fff;
                font-size: 30px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .wrapper form {
                padding: 20px 25px 0px 25px;
            }

                .wrapper form .row {
                    height: 45px;
                    margin-bottom: 15px;
                    position: relative;
                }

                    .wrapper form .row input {
                        height: 100%;
                        width: 100%;
                        outline: none;
                        padding-left: 60px;
                        border-radius: 5px;
                        border: 1px solid lightgrey;
                        transition: all 0.3s ease;
                    }

        form .row input:focus {
            border-color: #e3165b;
            /*box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);*/
        }

        form .row input::placeholder {
            color: #999;
        }

        .wrapper form .row i {
            position: absolute;
            width: 47px;
            height: 100%;
            color: #fff;
            background: #e3165b;
            border: 1px solid #e3165b;
            border-radius: 5px 0 0 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .wrapper form .pass {
            margin: -8px 0 20px 0;
        }

            .wrapper form .pass a {
                color: #e3165b;
                text-decoration: none;
            }

                .wrapper form .pass a:hover {
                    text-decoration: underline;
                }

        .wrapper form .button input {
            color: #fff;
            font-weight: 500;
            padding-left: 0px;
            background: #e3165b;
            border: 1px solid #e3165b;
            cursor: pointer;
        }

        form .button input:hover {
            /*background: #12876f;*/
        }

        .wrapper form .signup-link {
            text-align: center;
            margin-top: 20px;
        }

            .wrapper form .signup-link a {
                color: #e3165b;
                text-decoration: none;
            }

        form .signup-link a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="heading">
            <h3>Danh bạ người chơi</h3>
        </div>
        <div onclick="openPopupCreatePhonebook(this)" class="box-add-new-player">
            <i class="fa fa-plus"></i>
            <span>Thêm người chơi</span>
        </div>
        <div style="overflow: auto;">
            <div class="div-list-player">
                @if (phonebooks != null && phonebooks.Count > 0)
                {
                    foreach (var item in phonebooks)
                    {
                        <div class="row-player">
                            <div>
                                <div class="head-row-player">
                                    <h4 class="page-header margin-top-none">@item.Name</h4>
                                    <div>
                                        <i onclick="deletePlayer(this)" style="color: red;" id="@item.Id" class="fa fa-trash" aria-hidden="true"></i>
                                        <i onclick="openPopupUpdatepPhonebook(this)" style="color: inherit;" class="fa fa-pencil-square-o" id="@item.Id" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="margin-bottom-sm"></div>
                                <div class="div-info">
                                    <div>
                                        <span>Tiền xác</span>
                                        <strong id="lbl_xac">@item.TileXac</strong>
                                    </div>
                                    <div>
                                        <span>Tiền thưởng</span>
                                        <strong id="lbl_thuong">@item.TileThuong</strong>
                                    </div>
                                    <div>
                                        <span>Đá thẳng</span>
                                        <strong id="lbl_thuong">@item.DaThang</strong>
                                    </div>
                                    <div>
                                        <span>Đá xiên</span>
                                        <strong id="lbl_thuong">@item.DaXien</strong>
                                    </div>
                                    <div id="div_lbl_result" class="div-lbl-result">
                                        <span>Ba số</span>
                                        <strong id="lbl_result">@item.TileBaSo</strong>
                                    </div>
                                    <div id="div_lbl_result" class="div-lbl-result">
                                        <span>Bốn số</span>
                                        <strong id="lbl_result">@item.BonSo</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="margin-bottom-row"></div>
                        </div>

                    }
                }
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="modal_Createphonebook">
        <div class="modal-popup modal-dialog" role="document">
            <div class="modal-content">
                <button style="margin-top:-15px;" class="aria-hidden close" aria-label="Close" onclick="CloseModalCreatePhonebook()">
                    <span style="float:right;margin-right: 4px;margin-top: 5px;font-size:30px;" aria-hidden="true">&times;</span>
                </button>
                <div class="wrapper">
                    <div class="title"><span>Thêm mới</span></div>
                    <form id="createPlayerForm" action="#">
                        <div class="row">
                            <i class="fa fa-user-plus"></i>
                            <input name="name" type="text" placeholder="Tên người chơi" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileXac" type="number" step="any" placeholder="Tỷ lệ xác" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileThuong" type="number" placeholder="Tỷ lệ thưởng" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileDaThang" type="number" placeholder="Đá thẳng" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileDaXien" type="number" placeholder="Đá xiên" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileBaSo" type="number" placeholder="Tỷ lệ ba càng" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileBonso" type="number" placeholder="Bốn số" required>
                        </div>
                        <div class="row button">
                            <input type="submit" value="Đăng ký">
                        </div>

                        @*<div class="signup-link">Người chơi đã có trong danh bạ? <a href="/Calculation/IndexImport"> Trang tính!</a></div>*@

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="modal_Updatephonebook">
        <div class="modal-popup modal-dialog" role="document">
            <div class="modal-content">
                <button style="margin-top:-15px;" class="aria-hidden close" aria-label="Close" onclick="CloseModalUpdatePhonebook()">
                    <span style="float:right;margin-right: 4px;margin-top: 5px;font-size:30px;" aria-hidden="true">&times;</span>
                </button>
                <div class="wrapper">
                    <div class="title"><span>Cập nhật</span></div>
                    <form id="updatePlayerForm" action="#">
                        <div style="display:none;" class="row">
                            <i class="fa fa-id-card"></i>
                            <input name="id_update" type="text" placeholder="Tên người chơi" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-user-plus"></i>
                            <input name="name_update" type="text" placeholder="Tên người chơi" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileXac_update" type="number" step="any" placeholder="Tỷ lệ xác" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileThuong_update" type="number" placeholder="Tỷ lệ thưởng" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileDaThang_update" type="number" placeholder="Đá thẳng" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileDaXien_update" type="number" placeholder="Đá xiên" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileBaSo_update" type="number" placeholder="Tỷ lệ ba càng" required>
                        </div>
                        <div class="row">
                            <i class="fa fa-calculator"></i>
                            <input name="tileBonSo_update" type="number" placeholder="Bốn số" required>
                        </div>
                        <div class="row button">
                            <input type="submit" value="Cập nhật">
                        </div>

                        @*<div class="signup-link">Người chơi đã có trong danh bạ? <a href="/Calculation/IndexImport"> Trang tính!</a></div>*@

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>

        function deletePlayer(dom) {
            if (confirm("Bạn muốn xóa người chơi này?")) {
                executeConfirm(dom.id);
            }
        }

        function executeConfirm(playerId)
        {
            ShowOverlay(true);
            $.ajax({
                type: "POST",
                traditional: true,
                data:
                {
                    "playerId": playerId,
                },
                url: "@Url.Action("ExecuteDeletePlayer", "Phonebook")",
                success: function (data)
                {
                    hideOverlay();
                    if (data.Success && data.Data) {
                        awesomeAlert({
                            header: true,
                            type: 'success',
                            title: 'Thành công!',
                            message: 'Xóa người chơi thành công.',
                            //bgColor: '#2dd284',
                            img: '/assets/images/icon/success.svg',
                            buttonOK: 'Xong!',
                            closeStyle: 'circle'
                        }).then(res => window.location = "/Phonebook/ListPlayer")
                    }
                    else {
                        var message = "Đã có lỗi xảy ra."
                        if (!isNullOrEmpty(data.Message)) {
                            message = data.Message;
                        }
                        awesomeAlert({
                            header: true,
                            type: 'error',
                            title: 'Có lỗi!',
                            message: message,
                            //bgColor: '#2dd284',
                            img: '/assets/images/icon/error.svg',
                            buttonOK: 'Oke!',
                            closeStyle: 'circle'
                        }).then(res => false)
                    }
                },
            })
        }

        var modalCreate = document.getElementById("modal_Createphonebook");
        function openPopupCreatePhonebook(dom) {
            choosePhonebookId = dom.id;
            modalCreate.style.display = "flex";
        }
        function CloseModalCreatePhonebook() {
            modalCreate.style.display = "none";
        }
        // Bắt sự kiện submit của biểu mẫu create
        document.getElementById("createPlayerForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Ngăn chặn biểu mẫu gửi đi mặc định

            var playerModel = {
                name: document.getElementsByName("name")[0].value,
                tileXac: document.getElementsByName("tileXac")[0].value,
                tileThuong: document.getElementsByName("tileThuong")[0].value,
                tileBaSo: document.getElementsByName("tileBaSo")[0].value,
            }
            var playerModels = [playerModel];
            playerModels.push();
            ShowOverlay(true);
            playerJsons = JSON.stringify(playerModels);
            $.ajax({
                    type: "POST",
                    data:
                    {
                        "playerJsons": playerJsons,
                    },
                    url: "@Url.Action("ExecuteCreatePlayer", "Phonebook")",
                    success: function (data)
                    {
                        if (data.Success && data.Data) {
                            awesomeAlert({
                                header: true,
                                type: 'success',
                                title: 'Thành công!',
                                message: 'Tạo mới người chơi thành công.',
                                //bgColor: '#2dd284',
                                img: '/assets/images/icon/success.svg',
                                buttonOK: 'Xong!',
                                closeStyle: 'circle'
                            }).then(res => window.location = "/Phonebook/ListPlayer")
                        }
                        else {
                            var message = "Đã có lỗi xảy ra."
                            if (!isNullOrEmpty(data.Message)) {
                                message = data.Message;
                            }
                            awesomeAlert({
                                header: true,
                                type: 'error',
                                title: 'Có lỗi!',
                                message: message,
                                //bgColor: '#2dd284',
                                img: '/assets/images/icon/error.svg',
                                buttonOK: 'Oke!',
                                closeStyle: 'circle'
                            }).then(res => false)
                        }
                        hideOverlay();
                    },
                })
        });

        var modalUpdate = document.getElementById("modal_Updatephonebook");
        function openPopupUpdatepPhonebook(dom) {
            var phonebooks = @Html.Raw(Json.Encode(phonebooks));
            var phonebook = null;
            for (var i = 0; i < phonebooks.length; i++) {
                if (phonebooks[i].Id == dom.id) {
                    phonebook = phonebooks[i];
                    break;
                }
            }
            document.getElementsByName("id_update")[0].value = phonebook.Id;
            document.getElementsByName("name_update")[0].value = phonebook.Name;
            document.getElementsByName("tileXac_update")[0].value = phonebook.TileXac;
            document.getElementsByName("tileThuong_update")[0].value = phonebook.TileThuong;
            document.getElementsByName("tileBaSo_update")[0].value = phonebook.TileBaSo;
            modalUpdate.style.display = "flex";
        }
        function CloseModalUpdatePhonebook() {
            modalUpdate.style.display = "none";
        }
        // Bắt sự kiện submit của biểu mẫu update
        document.getElementById("updatePlayerForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Ngăn chặn biểu mẫu gửi đi mặc định

            var playerModel = {
                id: document.getElementsByName("id_update")[0].value,
                name: document.getElementsByName("name_update")[0].value,
                tileXac: document.getElementsByName("tileXac_update")[0].value,
                tileThuong: document.getElementsByName("tileThuong_update")[0].value,
                tileBaSo: document.getElementsByName("tileBaSo_update")[0].value,
            }
            var playerModels = [playerModel];
            playerModels.push();
            ShowOverlay(true);
            playerJsons = JSON.stringify(playerModels);
            $.ajax({
                    type: "POST",
                    data:
                    {
                        "playerJsons": playerJsons,
                    },
                    url: "@Url.Action("ExecuteCreatePlayer", "Phonebook")",
                    success: function (data)
                    {
                        if (data.Success && data.Data) {
                            awesomeAlert({
                                header: true,
                                type: 'success',
                                title: 'Thành công!',
                                message: 'Cập nhật người chơi thành công.',
                                //bgColor: '#2dd284',
                                img: '/assets/images/icon/success.svg',
                                buttonOK: 'Xong!',
                                closeStyle: 'circle'
                            }).then(res => window.location = "/Phonebook/ListPlayer")
                        }
                        else {
                            var message = "Đã có lỗi xảy ra."
                            if (!isNullOrEmpty(data.Message)) {
                                message = data.Message;
                            }
                            awesomeAlert({
                                header: true,
                                type: 'error',
                                title: 'Có lỗi!',
                                message: message,
                                //bgColor: '#2dd284',
                                img: '/assets/images/icon/error.svg',
                                buttonOK: 'Oke!',
                                closeStyle: 'circle'
                            }).then(res => false)
                        }
                        hideOverlay();
                    },
                })
        });

    </script>
</body>
</html>



